.config_boton{

    font-size: 20px;
    background-color: transparent;
    
}
.config_boton a{

    color: white;
    text-decoration: none
}
.actualiza_dato{
    font-size: 39px;
    color: whitesmoke;
    text-align: center;
    margin: auto;
}

.actualiza_dato {
    border: solid aqua;
    width: 70%;
    
}

.actualiza_dato h1 {
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

.actualizar_datos li{
    display: inline-block;

margin-top: 15px;
margin-left: 10px;
}

.actualiza_dato label {
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

.actualiza_dato input{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    font-family: 'Lobster', cursive;
    padding-left: 20px;
    
}

.actualiza_dato textarea{
    height: 100px;
    width: 400px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    font-family: 'Lobster', cursive;
    padding-left: 20px;
    border: none;
}

.actualizar_datos button{
    width: 400px;
    border-radius: 10px;
    height: 35px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: center;
    background-color: aquamarine;
    
}

.actualiza_dato button{
    text-align: center;
}

.estrella{
    font-size: 25px;
   
}

.estrella_activada{
    color: yellow;
}
